<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4 experience-section">

                <div class="row">
                    {% if site.data.profile.education %}
                    <div class="col-md-6">
                        <div class="mx-2 mt-0 mb-1">
                            <h6 class="mb-2"><i class="fas fa-graduation-cap"></i> Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-0">
                                    <div class="media-body">
                                        <p class="my-0 d-flex justify-content-between">{{ item.name }} <em class="ml-2 no-break">{{ item.date }}</em></p>
                                        {% if item.dept %}<p class="my-0">{{ item.dept }}</p>{% endif %}
                                        <p class="my-0">{{ item.position }}</p>
                                        {% if item.score %}
                                        <ul class="edu-sub-list my-0">
                                            <li>{{ item.score }}</li>
                                        </ul>
                                        {% endif %}
                                        {% if item.ta %}
                                        <ul class="edu-sub-list edu-ta my-0">
                                            {% for ta in item.ta %}
                                            <li>(TA) {{ ta }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.awards %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6><i class="fas fa-award"></i> Honors & Awards</h6>
                            <ul class="list-unstyled pl-3 mb-1">
                                {% for item in site.data.profile.awards %}
                                <li class="d-flex justify-content-between"><span>{{ item.name }}</span> <em class="ml-2 no-break">{{ item.date }}</em></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% if site.data.profile.service %}
                <hr class="mt-1 mb-2">
                <div class="mx-2">
                    <h6><i class="fas fa-users-cog"></i> Academic Service</h6>
                    <ul class="pl-3 mb-0">
                        {% for item in site.data.profile.service %}
                        <li>{{ item.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
